<a href="/">Home</a>
<a href="/page/about">About</a>
<a href="/page/book">Books</a>
<a href="/page/contact">Contact</a>
<a href="/page/order">Order</a>

<h3>About Us</h3>
<p>The San Ramon's BookStore was founded in 1990 and specializes in fine children's literature and illustration. Sidelines include some licensed stuffed toys, Gund products, Folkmanis puppets, posters, seasonal items, cards, books on tape and CD, storytelling tapes, as well as children's music tapes and CDs.</p><br>
<img src="http://www.robinsonlibrary.org/library_books.jpg" align="right" height="300" width="500">
<h3>The Store</h3>
<p>The San Ramon's BookStore is located in Market Place at Bollinger Canyon Road.</p><br>
<h3>Contact Information</h3>
<p>Please contact us with any questions or requests. We'd love to talk with you.</p>
<address>
  The San Ramon BookStore<br>
Bollinger Canyon Road<br>
Market Place, CA 94583<br>
925-300-5252<br>
</address>
<h3>Hours of Operation</h3>
<p>Monday - Saturday 10:00 - 5:30</p>