<a href="/">Home</a>
<a href="/page/about">About</a>
<a href="/page/book">Books</a>
<a href="/page/contact">Contact</a>
<a href="/page/order">Order</a>

<h1>San Ramon BookStore</h1>
<p>San Ramon bookstore is operated for the convenience of students. In addition to books and required supplies, the bookstores carry a variety of clothing and gift items as well as office supplies.</p>
<p>The cost of books has been in the spotlight across the nation for the past few years. San Ramon BookStore has responded with several money saving opportunities for students including,
Instituting a book rental program for several courses.
Allowing students to charge books against their financial aid in a process called book vouchers.
Encouraging faculty to choose books that are less costly.</p>
<p>Stop in the bookstore or place your order online to take advantage of these savings! </p>
<img src="http://upload.wikimedia.org/wikipedia/commons/2/2b/Melk_-_Abbey_-_Library.jpg" align="left" height="400" width="1200">